.list-item {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.list-item__cross {
  font-size: 25px;
  cursor: pointer;
}
.list-item:not(:last-child) {
  margin-bottom: 20px;
}

.green .list-item {
  border: 2px solid var(--green-400);
}

.pink .list-item {
  border: 2px solid rgb(119, 22, 108);
}

.blue .list-item {
  border: 2px solid rgb(22, 53, 119);
}
