.modal__input,
.modal__text {
  display: block;
  padding: 10px 8px;
  border-radius: 10px;
  border: 1px solid rgb(131, 136, 129);

  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
}
.modal__text {
  height: 100px;
  margin-top: 15px;
}

.modal__text::-webkit-resizer {
  display: none;
}
.modal__button {
  padding: 10px 24px;
  border-radius: 10px;
}
.modal__inputs {
  display: flex;
  align-items: center;
  border: 1px solid rgb(131, 136, 129);
  background-color: rgba(231, 255, 221, 0.826);
  padding: 10px 10px;
  border-radius: 10px;
}
.modal__inputs div {
}
.modal__input-item {
  background-color: rgba(231, 255, 221, 0.826);
  width: 40px;
  padding: 0;
  text-align: center;
  border: 0;
  margin-top: 0;
  outline: none;
  font-size: 14px;
}
.modal__input-item:first-child,
.modal__input-item:nth-child(3) {
  width: 20px;
}
.green .modal__input,
.green .modal__text,
.green .modal__inputs,
.green .modal__input-item {
  background-color: var(--green-50);
}

.pink .modal__input,
.pink .modal__text,
.pink .modal__inputs,
.pink .modal__input-item {
  background-color: rgba(250, 221, 255, 0.826);
}

.blue .modal__input,
.blue .modal__text,
.blue .modal__inputs,
.blue .modal__input-item {
  background-color: rgba(221, 226, 255, 0.826);
}
