.calendar {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 400px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.day-name {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.day {
  text-align: center;
  padding: 15px 0;
  background-color: rgb(215, 231, 207);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(129, 161, 121, 0.529);
  transition: all 0.3s ease;
}
.calendar__today {
  background-color: rgb(22, 119, 75);
  color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.calendar__today:hover {
  background-color: rgb(137, 210, 88);
}

.current-month {
  color: #333333;
  position: relative;
}
.day.active {
  background-color: rgb(137, 210, 88);
  color: #e0e0e0;
}
.day.today {
  background-color: rgb(22, 119, 75);
}

.day:not(.current-month) {
  background-color: #e0e0e0;
}

.day.current-month:hover {
  background-color: rgb(168, 208, 145);
  cursor: pointer;
}
.calendar__noties {
  display: flex;

  justify-content: end;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  width: 100%;
  align-items: center;
}
.calendar__noties_dot {
  border-radius: 100px;
  height: 5px;
  width: 5px;
  background-color: black;
  padding: 5px;
  position: absolute;
  bottom: 7px;
  right: 7px;
}
.calendar__noties_dot:hover {
  background-color: red;
}
