.calendar {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 400px;
}
.calendar__head {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.calendar__add {
  cursor: pointer;
  font-size: 20px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.day-name {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  background-color: #e0e0e0;
  border-radius: 4px;
}
.day.active {
  color: #e0e0e0;
}
.day {
  text-align: center;
  padding: 15px 0;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.calendar__today {
  color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.current-month {
  color: #333333;
  position: relative;
}

.day:not(.current-month) {
  background-color: #e0e0e0;
}
.day.current-month:hover {
  cursor: pointer;
}
.calendar__noties {
  display: flex;

  justify-content: end;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  width: 100%;
  align-items: center;
}
.calendar__noties_dot {
  border-radius: 100px;
  height: 5px;
  width: 5px;
  background-color: black;
  padding: 5px;
  position: absolute;
  bottom: 7px;
  right: 7px;
}
.calendar__noties_dot:hover {
  background-color: red;
}

.green .day {
  background-color: var(--green-100);
  box-shadow: 0 2px 4px var(--green-500);
}
.green .day.current-month:hover {
  background-color: var(--green-200);
}
.green .calendar__today:hover,
.green .day.active {
  background-color: var(--green-300);
}
.green .calendar__today,
.green .day.today {
  background-color: var(--green-400);
}

.pink .day {
  background-color: rgb(229, 207, 231);
  box-shadow: 0 2px 4px rgba(155, 121, 161, 0.529);
}
.pink .day.current-month:hover {
  background-color: rgb(199, 145, 208);
}
.pink .calendar__today:hover,
.pink .day.active {
  background-color: rgb(192, 88, 210);
}
.pink .calendar__today,
.pink .day.today {
  background-color: rgb(119, 22, 108);
}

.blue .day {
  background-color: rgb(207, 216, 231);
  box-shadow: 0 2px 4px rgba(121, 132, 161, 0.529);
}
.blue .day.current-month:hover {
  background-color: rgb(145, 174, 208);
}
.blue .calendar__today:hover,
.blue .day.active {
  background-color: rgb(88, 123, 210);
}
.blue .calendar__today,
.blue .day.today {
  background-color: rgb(22, 53, 119);
}
