.year {
  font-size: 37px;
  margin-right: 100px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.year__back,
.year__next {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.year__back {
  transform: rotate(180deg);
}

.year__next:hover {
  transform: scale(1.1);
}
.year__back:hover {
  transform: rotate(180deg) scale(1.1);
}
