.wrapper {
  min-height: 6000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1280px;
  padding: 0 70px 0 200px;
  margin-left: auto;
  box-sizing: content-box;
}
