:root {
  --green-100: rgb(215, 231, 207);
  --green-500: rgba(129, 161, 121, 0.529);
  --green-450: rgb(124, 154, 107);
  --green-400: rgb(22, 119, 75);
  --green-300: rgb(137, 210, 88);
  --green-250: rgb(205, 243, 184);
  --green-200: rgb(168, 208, 145);
  --green-50: rgba(231, 255, 221, 0.826);

  --pink-100: rgb(229, 207, 231);
  --pink-500: rgba(155, 121, 161, 0.529);
  --pink-450: rgb(145, 107, 154);
  --pink-400: rgb(119, 22, 108);
  --pink-300: rgb(192, 88, 210);
  --pink-250: rgb(241, 184, 243);
  --pink-200: rgb(199, 145, 208);
  --pink-50: rgba(250, 221, 255, 0.826);

  --blue-100: rgb(207, 216, 231);
  --blue-500: rgba(121, 132, 161, 0.529);
  --blue-450: rgb(107, 118, 154);
  --blue-400: rgb(22, 53, 119);
  --blue-300: rgb(88, 123, 210);
  --blue-250: rgb(184, 210, 243);
  --blue-200: rgb(145, 174, 208);
  --blue-50: rgba(221, 226, 255, 0.826);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.735);
  z-index: 999;
}
.modal__header {
  display: flex;
  justify-content: space-between;
}
.modal__closs {
  cursor: pointer;
}
.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.modal__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
