:root {
  --green-100: rgb(215, 231, 207);
  --green-500: rgba(129, 161, 121, 0.529);
  --green-450: rgb(124, 154, 107);
  --green-400: rgb(22, 119, 75);
  --green-300: rgb(137, 210, 88);
  --green-250: rgb(205, 243, 184);
  --green-200: rgb(168, 208, 145);
  --green-50: rgba(231, 255, 221, 0.826);

  --pink-100: rgb(229, 207, 231);
  --pink-500: rgba(155, 121, 161, 0.529);
  --pink-450: rgb(145, 107, 154);
  --pink-400: rgb(119, 22, 108);
  --pink-300: rgb(192, 88, 210);
  --pink-250: rgb(241, 184, 243);
  --pink-200: rgb(199, 145, 208);
  --pink-50: rgba(250, 221, 255, 0.826);

  --blue-100: rgb(207, 216, 231);
  --blue-500: rgba(121, 132, 161, 0.529);
  --blue-450: rgb(107, 118, 154);
  --blue-400: rgb(22, 53, 119);
  --blue-300: rgb(88, 123, 210);
  --blue-250: rgb(184, 210, 243);
  --blue-200: rgb(145, 174, 208);
  --blue-50: rgba(221, 226, 255, 0.826);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
